<div class="cart-item">
    <div>
        <img src="{{cartItem.imgUrl}}" alt="product"/>
    </div>
    <div>
        <p>Product Name</p>
        <p>{{cartItem.name}}</p>
    </div>
    <div>
        <p>Short Description</p>
        <p>{{cartItem.description}}</p>
    </div>
    <div>
        <p>Qty</p>
        <p>{{cartItem.quantity}}</p>
    </div>
    <div>
        <p>Price per 1pc</p>
        <p>{{cartItem.price + '$'}}</p>
    </div>
    <div>
        <p>Line Total</p>
        <p>{{cartItem.total.toFixed(2) + '$'}}</p>
    </div>
    <div>
        <button (click)="removeCartItem()" type="button">Remove item</button>
    </div>
</div>
