.cartProduct-item {
    border: 1px solid red;
        
    display: flex;
    flex-direction: column;
}
.cartProduct-item > div {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 5px 10px 5px 10px;
}
.cartProduct-item > div > p {
    width: 100%;
}
/* image  */
.cartProduct-item > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartProduct-item > div > img {
    width: 200px;
}
/* description */
.cartProduct-item > div:nth-child(3) > p:nth-child(2) {
    display: -webkit-box;   
    -webkit-line-clamp: 3;   
    -webkit-box-orient: vertical;   
    overflow: hidden; 
}
/* button */
.cartProduct-item > div:nth-child(7) {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .cartProduct-item {
        border: 1px solid blue;
        
        display: flex;
        flex-direction: row;
    }
    .cartProduct-item > div {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 5px 10px 5px 10px;
    }
    /* .cartProduct-item > div > p {
        width: 0;
    } */
    /* image  */
    .cartProduct-item > div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cartProduct-item > div > img {
        width: 120px;
    }
    /* description */
    .cartProduct-item > div:nth-child(3) {
        flex: 3;
    }
    .cartProduct-item > div:nth-child(3) > p:nth-child(2) {
        display: -webkit-box;   
        -webkit-line-clamp: 3;   
        -webkit-box-orient: vertical;   
        overflow: hidden; 
    }
    /* button */
    .cartProduct-item > div:nth-child(7) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}